<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %>   :: <%= stranka.Country %> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var eM;
 
		document.getElementById("Email").addEventListener("keyup", function(){
			eM = emailRegex.test(document.getElementById("Email").value);
			
			if(eM){
				document.getElementById("Register").disabled = false;
				document.getElementById("EmailValidate").classList.toggle("glyphicon-ok", true);
				document.getElementById("EmailValidate").classList.toggle("glyphicon-remove", false);
			} else {
				document.getElementById("Register").disabled = true;
				document.getElementById("EmailValidate").classList.toggle("glyphicon-ok", false);
				document.getElementById("EmailValidate").classList.toggle("glyphicon-remove", true);
			}
		}); 

		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}

		
			var source = [];
	        var tabelaK = [];
	        var tabelaP =[];
	        function getData(callback){
	            var xobj = new XMLHttpRequest();
	            xobj.open("GET", "https://api.lavbic.net/kraji" , true);
	            xobj.onreadystatechange = function(){
	                if (xobj.readyState == 4 && xobj.status == "200") {
	                    var json = JSON.parse(xobj.responseText);
	                    callback(json);
	                }
	            };
	            xobj.send(null);
	        }
	        
	        getData(function(jsonRezultat){
	            source = jsonRezultat;
		            for(var i=0; i<source.length; i++){
		                tabelaP[i] = source[i].postnaStevilka;
		                tabelaK[i] = source[i].kraj; 
					}
	        });
	        $("#City").autocomplete({source:tabelaK});
	        $("#City").on( "keydown", function( event, ui ) {
	             if(event.keyCode == 13)  	$( "#City" ).autocomplete( "close" ); });
			$("#City").on( "autocompleteclose", function( event, ui ) {
                var postna = null;
                var drzava = null;
                var search = document.getElementById("City").value;
                console.log(search);
                for(var i = 0; i<tabelaK.length;i++){
	                    if(tabelaK[i]==search){
	                        postna = tabelaP[i];
                        drzava = "Slovenia";
                    }
	            }
                document.getElementById("PostalCode").value = postna;
                document.getElementById("Country").value = drzava;
	        });

				
			});
		});
		
		var options = $('#seznamRacunov option');
		var values = $.map(options ,function(option) {
		var string = option.text.split(" (", 1);
		return string;
		});
		document.getElementById("seznamStrank").addEventListener("click", function(e){
			var v = document.getElementById("seznamStrank").options[document.getElementById("seznamStrank").selectedIndex].text.split(",", 1);
			console.log(v);
			for(var i = 0; i<values.length; i++){
			document.getElementById("seznamRacunov").options[i].classList.remove("racun-stranke");
				if(values[i] == v)
					document.getElementById("seznamRacunov").options[i].classList.add("racun-stranke");
			}

		});
</script>
</body>
</html>